
text.slope-label{
    fill:#bfbfbf;
    font: 18px Arial;
}

.slope-line{
	fill: none;
}
body {
	background: #1a1a1a;
}

div.tooltip {
        color: #222;
        background-color: #fff;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
    }

.hidden {
        display: none;
    }